@use '../variables' as *;
@use '../mixins' as *;

.message {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 1;
  width: 320px;
  background-color: $color-bg-white;

  &--visible {
    display: block;
  }

  &__inner {
    padding: 24px 16px 75px;
  }

  &__close {
    margin-bottom: 32px;
    @include transition;
    @include scale-hover;
  }

  &__title {
    display: flex;
    align-items: end;
    gap: 12px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.03em;

    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 40px;
      margin-left: -16px;
      background-image: url('../assets/img/icons/highlight.svg');
    }
  }
}

.form {
  @include flex-column;
  gap: 16px;

  &__input,
  &__textarea {
    width: 100%;
    border: 1px solid $color-border-light;
    border-radius: 8px;
    color: $color-text-primary;
    @include transition;

    &::placeholder {
      @include text-common;
      color: $color-pagination-active;
    }

    &:hover,
    &:active,
    &:focus {
      border: 1px solid #ff3e79;
      box-shadow: inset 0px 0px 10px 0px rgba(255, 62, 121, 0.3);
    }
  }

  &__input {
    padding: 12px 0 12px 16px;
  }
  &__textarea {
    height: 118px;
    padding: 12px 0 0 16px;
    resize: none;
  }

  &__privacy {
    font-size: 14px;
    line-height: 1.14;
    color: $color-text-secondary;

    a {
      color: $color-accent;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__btn {
    @include flex-between;
    align-self: end;
    gap: 2px;
    max-width: 136px;
    margin-top: 3px;
    padding: 4px 9px 4px 20px;
    border-radius: 16px;
    background-color: $color-accent;

    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $color-bg-white;

    @include transition;
    @include scale-hover;
  }
}
