@use '../variables' as *;
@use '../mixins' as *;

.services {
  &__inner {
    padding: 24px 0;
  }

  &__header {
    @include flex-between;
    margin-bottom: 24px;
  }

  &__title {
    @include flex-center;
    gap: 12px;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;

    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 40px;
      background-image: url('../assets/img/icons/highlight.svg');
    }
  }

  &-nav {
    display: none;

    &__btn {
      @include flex-center;
      gap: 8px;
      font-size: 16px;
      font-weight: 500;
      @include text-common;
      @include transition;

      &:hover {
        color: $color-accent;
      }

      img {
        @include transition;
      }

      &:focus,
      &:active,
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }

  &__tabs {
    display: flex;
    margin: 0 0 24px 16px;
    @include text-common;
    color: $color-text-secondary;
    overflow-x: auto;

    -webkit-mask-image: linear-gradient(
      to right,
      $color-bg-white 0%,
      $color-bg-white calc(100% - 50px),
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      $color-bg-white 0%,
      $color-bg-white calc(100% - 50px),
      transparent 100%
    );
  }
}

.services-tabs {
  &__item {
    flex-shrink: 0;
  }

  &__link {
    display: block;
    padding: 8px 9px 8px 16px;
    border: 2px solid transparent;
    @include transition;

    &:hover {
      color: $color-text-primary;
    }

    &:focus {
      background-color: $color-bg-white;
      border: 2px solid $color-border-green;
      border-radius: 6px;
    }

    &--active {
      background-color: $color-bg-white;
      border: 2px solid $color-border-green;
      border-radius: 6px;
    }
  }
}

.devices {
  &__inner {
    padding-inline: 16px;
  }

  &__text {
    margin-bottom: 16px;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.01em;

      span {
        display: none;
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    margin-top: 16px;
    @include text-common;
    @include transition;

    &:focus {
      color: $color-accent;
    }
  }

  &__img img {
    margin-inline: -16px;
  }
}
