@use '../variables' as *;
@use '../mixins' as *;

.types {
  &__inner {
    padding: 0 0 24px 16px;
    border-top: 1px solid #d9fff5;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__slider {
    -webkit-mask-image: linear-gradient(
      to right,
      $color-bg-white 0%,
      $color-bg-white calc(100% - 30px),
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      $color-bg-white 0%,
      $color-bg-white calc(100% - 30px),
      transparent 100%
    );
  }

  &__item {
    max-width: 240px;

    &--hidden {
      display: none;
    }
  }

  &__btn {
    display: none;
    font-size: 16px;
    font-weight: 500;
    @include text-common;
    @include transition;

    img {
      @include transition;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-accent;
    }

    &--active img {
      transform: rotate(180deg);
    }
  }
}

.type {
  &__link {
    @include flex-column-between;
    height: 160px;
    padding: 16px;
    background-color: $color-bg-white;
    border: 1px solid $color-border-light;
    border-radius: 6px;
    @include transition;

    &:hover,
    &:focus {
      border: 1px solid $color-accent;
      box-shadow: inset 0px 0px 10px 0px $color-shadow-accent;

      svg {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    @include text-common;
  }

  svg {
    align-self: flex-end;
    @include transition;
  }
}

.types__slider {
  .swiper-pagination {
    position: static;
    margin-top: 16px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-inline: 6px !important;
    background-color: $color-pagination;
    opacity: 1;

    &-active {
      background-color: $color-pagination-active;
    }
  }
}
