@use '../variables' as *;
@use '../mixins' as *;

@use '../variables' as *;
@use '../mixins' as *;

@media (width >= 768px) {
  .types {
    &__inner {
      padding: 0 24px 32px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__slider {
      mask-image: none;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-bottom: 24px;
    }

    &__item {
      max-width: 224px;
    }

    &__link {
      &:hover,
      &:focus {
        svg {
          transform: scale(1.2);
        }
      }
    }

    &__btn {
      display: block;
    }
  }

  .swiper-pagination {
    display: none;
  }
}

@media (width >= 1440px) {
  .types {
    &__inner {
      padding: 0 32px 50px;
    }

    &__list {
      gap: 32px;
    }

    &__item {
      max-width: 240px;
    }
  }
}
