@use 'swiper/css/bundle';

@use 'base/reset' as *;
@use 'base/fonts' as *;
@use 'base/global' as *;
@use 'base/global-media' as *;

@use 'components/header' as *;
@use 'components/header-media' as *;
@use 'components/aside' as *;
@use 'components/aside-media' as *;
@use 'components/services' as *;
@use 'components/services-media' as *;
@use 'components/brands' as *;
@use 'components/brands-media' as *;
@use 'components/types' as *;
@use 'components/types-media' as *;
