@import 'swiper/css/bundle';

@import 'base/reset';
@import 'base/fonts';
@import 'base/global';
@import 'base/global-media';

@import 'components/header';
@import 'components/header-media';
@import 'components/aside';
@import 'components/aside-media';
@import 'components/services';
@import 'components/services-media';
@import 'components/brands';
@import 'components/brands-media';
