// Colors
$color-bg-primary: #f8f8f8;
$color-bg-white: #fff;
$color-text-primary: #1b1c21;
$color-text-secondary: #7e7e82;
$color-accent: #ff3e79;
$color-border-light: #eaeaea;
$color-border-green: #b8ffec;
$color-border-green-light: #d9fff5;
$color-pagination: #dddddd;
$color-pagination-active: #b5b6bc;
$color-shadow: rgba(14, 24, 80, 0.2);
$color-shadow-accent: rgba(255, 62, 121, 0.3);

